.body {
  height: 456px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  flex-wrap: wrap;
}

.body h2 {
  font-size: 28px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 700;
  flex-direction: row;
}

.body p {
  max-width: 500px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 650;
}

.container {
  width: 1677px;
  display: flex;
  background-color: #87b854;
  padding: 30px;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  display: flex;
  gap: 20px;
}

.mission p {
  max-width: 700px;
  margin-left: 100px;
  font-size: 25px;
  line-height: 40px;;
  color: #ffffff;
  font-weight: 650;
  margin-top: -20px;
}

.mission h2 {
  margin-top: 10px;
  margin-left: 10px;
}

.contact p {
  font-weight: 400;
}

.emails {
  margin-top: 30px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.socials img {
  margin-left: 30px;
}

@media screen and (max-width: 1176px) {
  .mission p {
    font-size: 20px;
    line-height: 36px;
    max-width: 700px;
  }
}
