.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0;
  flex-wrap: wrap;
  margin-left: 3.9vw;
  justify-content: center;
}

.title {
  margin-left: 3.9vw;
  color: #87b854;
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;
  margin-right: 15vw;
}

.navigate {
  display: flex;
  flex-direction: row;
  gap: 4.1vw;
  flex-wrap: wrap;
}

.navigate a {
  color: #87b854;
  text-decoration: none;
  font-size: 24px;
  padding: 2vw;
}

.light { font-weight: 400; }
.heavy { font-weight: 701; }

@media screen and (max-width: 600px) {
  .image {
    width: 120px;
    height: 120px;
  }
  .title {
    font-size: 15px;
    max-width: 13ch;
    line-height: 25px;
    margin-right: 0;
  }
  .navigate a {
    font-size: 15px;
  }

}

@media screen and (max-width: 650px) {
  .navbar {
    transform: scale(1.25);
    margin-bottom: 50px;
  }
}

.dropbtn {
  color: white;
  border: none;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdowncontent {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {background-color: #87b955;}

.dropdown:hover .dropdowncontent {display: block;}

.dropdown:hover .dropbtn {background-color: #87b955;}

.show {
  display: block;
}
