body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 650px) {
  html {
    transform: scale(0.75);
  }
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}
.content div {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 18%;
}
.content h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.content p {
  font-size: 0.9em;
}
